<footer class="site-footer">
  <svg xmlns="/assets/avataaars.svg" viewBox="0 0 114 26.6" class="logo" width="8rem"
    fill="var(--logo-color, #000)">
    <path
    d="/Users/19083/javascript/project-12/blog-FrederickLamptey/src/assets/avataaars.svg"/>
  </svg>
  <p>© {% year %} Company Name. All rights reserved.</p>
</footer>