<footer class="site-footer">
  <svg xmlns="https://www.svgrepo.com/svg/429185/astronomy-planet-rings" viewBox="0 0 114 26.6" class="logo" width="8rem"
    fill="var(--logo-color, #000)">
    <path
    d="https://www.svgrepo.com/svg/429185/astronomy-planet-rings" />
  </svg>
  <p>© {% year %} Company Name. All rights reserved.</p>
</footer>